@{
    ViewBag.Title = "School Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>School Page</title>
    <style>
        body {
            background-color: lightblue;
        }

        div {
            background-color: lightyellow;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            padding: 10px;
            background-color: lightyellow;
            margin-bottom: 5px;
            border-radius: 5px;
        }

            li:hover {
                background-color: lightblue;
                transition: background-color 0.5s;
            }
    </style>
</head>
<body>
    <div>
        <h2><center>WELCOME TO LYCEUM OF ALABANG</center></h2>
    </div>
    <div>
        <h2><center>My Subject Schedule</center></h2>
        <div>
            <h3>IT Elective 3 (Full Stack) </h3>
            <p>Professor: Mr. Alamo</p>
            <p>Day: Suturday</p>
            <p>Time: 7:00 AM - 10:00 AM</p>
        </div>
        <div>
            <h3> Systems Integration & Architecture 1 </h3>
            <p>Professor: Mr. Banag</p>
            <p>Day: Mon/Tue</p>
            <p>Time: 6:30 PM - 8:00 PM</p>
        </div>
        <div>
            <h3> Panitikan </h3>
            <p>Professor: Ms. Zaide</p>
            <p>Day: Monday</p>
            <p>Time: 4:00 PM - 5:00 PM</p>
        </div>
        <div>
            <h3> Capstone Project and Research 1 </h3>
            <p>Professor: Mr. Ellana</p>
            <p>Day: Mon/Tue</p>
            <p>Time: 5:00 PM - 6:30 PM</p>
        </div>
        <div>
            <h3>Quantitative Methods (Modelling & Simulation) </h3>
            <p>Professor: Mr. Deladia</p>
            <p>Day: Mon/Tue</p>
            <p>Time: 8:00 PM - 9:30 PM</p>
        </div>
        <div>
            <h3>Information Assurance and Security 1 </h3>
            <p>Professor: Mr. Malig-on</p>
            <p>Day: Tuesday</p>
            <p>Time: 4:00 PM - 5:00 PM</p>
        </div>

</body>
</html>